* {
    padding: 0px;
    margin: 0px;
}

body, html, #content {
    height: 100%;

}
body {
    font-family:'Courier New', Courier, monospace;
    color: black;
}

#content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#content .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

h1 {
    font-size: 4rem;
    padding: 12px;
    margin-left: 12px;
}

header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    list-style-type: none;
}

header button {
    color: white;
    font-size: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 16px 0px;
}
